</header>

<footer>
    <div class="footer-links">
        <a href="#">Email : smartcanteen101@gmail.com</a>
        <a href="#">Contact : +919302720446</a>
        <a href="#">More Information </a>
    </div>
    <div class="copyright">
        &copy; 2024 Your Company Name. All rights reserved.
    </div>
</footer>

</body>
</html>