<%- include('partials/header.ejs') %>

<div class="detail">
    <h1>Hi,there</h1>
    <h2>Welcome To Our Smart Canteen Management System</h2>
    <p>Delicious meals, effortless ordering and ordering food easily. Let's make your dining experience extraordinary!!</p>
    <p>Click on the START button for more information</p>
   <a href="/login"><button class="start-btn">START</button></a>
</div>

<%- include('partials/footer.ejs') %>