<%- include('partials/header.ejs') %>

<!-- Hero Sectiion starts -->
<section class="hero-section">
  <div class="text-content">
    <h1>Hi, There</h1>
    <h2>Welcome to TIT-Group | Canteen</h2>
    <p id="first-para">
      Delicious meals, effortless ordering and ordering food easily. Let's make
      your dining experience extraordinary!!
    </p>
    <p id="second-para">Click on the START button for more information</p>
    <a id="login-btn" href="/login">Sign in</a>
  </div>
  <div class="image">
    <img
      draggable="false"
      class="tilt"
      src="/images/right-2.jpeg"
      alt="foods"
      height="400"
    />
  </div>
</section>
<!--  Hero Section ends -->

<%- include('partials/footer.ejs') %>
