<%- include('partials/header.ejs') %>

<div class="login-container">
  <div class="login-form">
    <h2>Administrator Login</h2>
    <div class="button-container">
      <a href="admin_login.html">
        <button class="btn primary1">Login</button>
      </a>
    </div>
  </div>
  <div class="login-form">
    <h2>Student Login</h2>
    <div class="button-container">
      <a href="admin_login.html"> <button class="btn primary">Login</button></a>
      <a href="student_register.html">
        <button class="btn secondary">New Register</button></a
      >
    </div>
  </div>
</div>

<%- include('partials/footer') %>
