:root {
  --primary-color: rgb(0, 51, 73);
  --secondary-color: rgb(165, 207, 78);
  --dark-text: #383838;
  --white-color: rgb(245, 245, 245);
  --initial-btn: rgb(60, 145, 255);
  --hover-btn: rgb(165, 207, 78);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--white-color);
}

/* navbar styles begins */
.header {
  color: var(--white-color);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  /* position: fixed;
  width: 100%; */
}

.logo {
  margin-left: 20px;
}

.logo a {
  padding: 2px;
}

.nav {
  margin-right: 20px;
  padding: 10px;
}

.nav ul {
  width: 38rem;
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  list-style: none;
  text-transform: uppercase;
}

.nav ul li a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--dark-text);
  font-weight: 600;
}

#register a {
  background-color: var(--initial-btn);
  padding: 8px 14px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.09rem;
  font-weight: 600;
  color: rgb(174, 244, 35);
}
#register a:hover {
  color: var(--white-color);
}

/* Hero section styles start */
.hero-section {
  /* background-image: url(/images/hero-section.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.text-content {
  width: 600px;
}

.text-content h1 {
  font-size: 4rem;
  color: var(--secondary-color);
}

.text-content h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 20px 0 0 0;
}

.text-content #first-para {
  font-size: 1.2rem;
  font-weight: 500;
  color: #474747;
  margin: 5px 0 40px 0;
  width: 600px;
}

.text-content #second-para {
  font-size: 1rem;
  color: #5d5d5d;
  margin: 40px 0 20px 0;
}

.hero-section .image img {
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(96, 96, 96, 0.3);
}

#login-btn {
  background-color: var(--initial-btn);
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.09rem;
  font-weight: 600;
  color: var(--white-color);
}

/* new registration for styles begin */
.registration {
  min-height: 100vh;
  margin: 0 0 5rem 0;
}
.registration h2 {
  color: #383838;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  padding: 4rem 0 2rem 0;
}
.registration h2 span {
  color: var(--secondary-color);
}
.registration .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.registration .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.registration .content .image-box {
  width: 60%;
  margin-left: 2rem;
}
.registration .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: #383838;
  z-index: 100;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid #383838;
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: #383838;
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 120px;
  max-height: 100%;
  min-width: 18em;
  max-width: 20em;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: var(--white-color);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.3rem 1.88rem;
  background: var(--primary-color);
  box-shadow: 0px 3px 10px var(--secondary-color);
  transition: all 0.08s ease-in;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: var(--secondary-color);
}
/* resistration form section ends  */


/* login page styles begin */
.login-container {
  display: flex;
  justify-content: space-around;
}

.login-form {
  background-color: #96daf5;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn.primary1 {
  background-color: #007bff;
  color: #fff;
  margin: 0px;
  margin-left: 70%;
}

.btn.primary {
  background-color: #007bff;
  color: #fff;
  margin: 0px;
}

.btn.secondary {
  background-color: #6c757d;
  color: #fff;
  margin: 0px;
}

.btn:hover {
  background-color: #0056b3;
}



/* footer styles begin */
footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: var(--white-color);
  text-decoration: none;
  margin-right: 20px;
}

.copyright {
  font-size: 14px;
}
